<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light white py-4">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <img src="../img/logo.jpg" width="200" height="60" alt="">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Programs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ site.baseurl }}/before-school/">Before School</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/k-tk-afterschool">Kindergarten And TK Afterschool</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/afternoon">Afternoon Program</a>
          <a class="dropdown-item" href="{{ site.baseurl }}/summer">Summer Holiday Program</a>
        </div>
      </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/about/" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/contact/" class="nav-link">Contact Us</a>
        </li>
      </ul>
        <span class="navbar-text ml-auto">
            License # 013423168
    </span>
    </div>
  </div>
</nav>